<div class="container">
    <app-header></app-header>
    <div class="container">
        <div class="mainText">
            <h1>Разработка восхитительных продуктов для</h1>
            <ngx-sbz-type-delete [wordArray]="['ваших клиентов.', 'вашего бизнеса.', 'вашей компании.']" [fontSize]="mobile ? '50px' : '70px'" [textColor]="'white'" [blinkWidth]="'6px'" [typingSpeedMilliseconds]="100" [deleteSpeedMilliseconds]="150"></ngx-sbz-type-delete>
        </div>
        <br><br><br>
        <div class="centerItemsInside"><button class="researchButton">Исследовать</button></div>
        <div class="progressBarContainer">

        </div>
    </div>
</div>

