<footer>
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="row">
                <div class="col-12 col-lg-6 footerLink">
                    <h5>Продукты</h5>
                    <a href="#">Mugalim</a>
                    <a href="#">Tez Taxi</a>
                    <a href="#">Amodeo</a>
                    <a href="#">KitApp</a>
                    <p>Terms & Conditions</p>
                </div>
                <div class="col-12 col-lg-6 footerLink">
                    <h5>О нас</h5>
                    <a href="#">About</a>
                    <a href="#">Work</a>
                    <a href="#">Team</a>
                    <a href="#">FAQ</a>
                    <p>Privacy Policy</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 footerContact">
            <h2>Оставьте сообщение и мы 
                свяжемся с вами.</h2>
            <div class="row">
                <div class="col">
                    <input type="text" placeholder="Ваше имя">
                </div>
                <div class="col">
                    <input type="email" placeholder="Ваша почта">
                </div>
            </div>
            <button>Отправить</button>
        </div>
    </div>
</footer>