<div class="row">
    <div class="col-3"><div class="titleLine"></div></div>
    <div class="col-6">
        <div class="titleText">НАШИ ПРОЕКТЫ</div>
    </div>
    <div class="col-3"><div class="titleLine"></div></div>
</div>

<div class="projectsContainer">
    <div class="project" style="background-color: #FAB114;">
        <img src="assets\images\mugalimLogo.png" alt="Mobile Logo" class="logoImageOnMobile">
        <div class="projectSmall"><img src="assets\images\mugalimLogo.png" alt="Project Logo" class="projectLogo"></div>
        <div class="projectWide">
            <img src="assets\images\mugalim.png" alt="" class="projectMainImage">
            <div class="row projectInfo">
                <div class="col-2"><img src="assets\images\mugalimLogo.png" alt="Project Logo"></div>
                <div class="row col-10">
                    <div class="col-12"><h3 class="projectName">Tez Taksi</h3></div>
                    <div class="col-12"><p class="projectDescription">Платформа и приложение для учителей Казахстана</p></div>
                </div>
            </div>
        </div>
    </div>
    <div class="project" style="background-color: #8101D4;">
        <img src="assets\images\mugalimLogo.png" alt="Mobile Logo" class="logoImageOnMobile">
        <div class="projectSmall"><img src="assets\images\mugalimLogo.png" alt="Project Logo" class="projectLogo"></div>
        <div class="projectWide">
            <img src="assets\images\mugalim.png" alt="" class="projectMainImage">
            <div class="row projectInfo">
                <div class="col-2"><img src="assets\images\mugalimLogo.png" alt="Project Logo"></div>
                <div class="row col-10">
                    <div class="col-12"><h3 class="projectName">Alem Medicus</h3></div>
                    <div class="col-12"><p class="projectDescription">Платформа и приложение для учителей Казахстана</p></div>
                </div>
            </div>
        </div>
    </div>
    <div class="project" style="background-color: #69A5DC;">
        <img src="assets\images\mugalimLogo.png" alt="Mobile Logo" class="logoImageOnMobile">
        <div class="projectSmall"><img src="assets\images\mugalimLogo.png" alt="Project Logo" class="projectLogo"></div>
        <div class="projectWide">
            <img src="assets\images\mugalim.png" alt="" class="projectMainImage">
            <div class="row projectInfo">
                <div class="col-2"><img src="assets\images\mugalimLogo.png" alt="Project Logo"></div>
                <div class="row col-10">
                    <div class="col-12"><h3 class="projectName">Kitap app</h3></div>
                    <div class="col-12"><p class="projectDescription">Платформа и приложение для учителей Казахстана</p></div>
                </div>
            </div>
        </div>
    </div>  
    <div class="project1">
        <img src="assets\images\mugalimLogo.png" alt="Mobile Logo" class="logoImageOnMobile">
        <div class="projectSmall"><img src="assets\images\mugalimLogo.png" alt="Project Logo" class="projectLogo"></div>
        <div class="projectWide">
            <img src="assets\images\mugalim.png" alt="" class="projectMainImage">
            <div class="row projectInfo">
                <div class="col-2"><img src="assets\images\mugalimLogo.png" alt="Project Logo"></div>
                <div class="row col-10">
                    <div class="col-12"><h3 class="projectName">Mugalim app</h3></div>
                    <div class="col-12"><p class="projectDescription">Платформа и приложение для учителей Казахстана</p></div>
                </div>
            </div>
        </div>
    </div> 
</div>